<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2f270fb3-4979-4a7b-9a0c-bbfd26c080ba/resourceGroups/cteds/providers/Microsoft.Web/sites/cteds-deploy-sample</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cteds-deploy-sample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>d2246015-9b33-49d8-9d9d-35e517fddcbf</ProjectGuid>
    <PublishUrl>https://cteds-deploy-sample.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cteds-deploy-sample</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>